*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: #000;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 1000px;
    height: 100vh;
    margin: auto;
    display: flex;
    
}
.content_Projects{
    display: flex;
    align-items: center;
    width: 80%;
    height: 400px;
    background-image: url("../../imgs/programming-g15347181d_640.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red;
    overflow: hidden;
    
}
.movieRow{
    display: flex;
    transition: all ease 0.5s;
    
}

.setaLeft{
    margin: 10px;
    color: #fff;
}

@media (max-width:1000px){
    .container{
        width: 100%;
    }
}