.tool{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 10px;
    margin: 10px;
    width: 220px;
    height: 250px;
    
}
.tool:hover{
    box-shadow: 1px 1px 10px #8b0000;
}
.tool img{
    width: 120px;
    min-height: 100px;
}
.tool div{
    height: 50px;
}
.tool p{
    display: flex;
    align-items: center;
    height: 50px;
}
.tool span{
    color: #8b0000;
}


