*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: #111;
}
.container{
    display: flex;
    background-color: #111;
    width: 1000px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column; 
}

.description{
    margin-top: 20px;
}
.description h1{
    text-align: center;
    color: #fff;
    width: auto;
}
.skills{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.03);
    margin-top: 20px;
    height: 60vh;
    color: #fff;
    overflow: auto;
    padding: 50px 0px;

}



@media (max-width:1000px){
    .container{
        width: 100%;
    }
}