.menu{
    background-color: #000;
    box-shadow: 1px 1px 10px #8b0000;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: auto;
    width: 70vw;
    position: absolute;
    top: 10px;
    left: 80px;
    margin: 2px;
    border-radius: 15px;
    padding: 10px;
}
.menu li,a{
    text-decoration: none;
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
    padding: 5px 0;
}
.menu a:hover{
    border-bottom: 2px solid #8b0000;
}